In [1]:
import pandas as pd

In [2]:
df=pd.read_csv(r"C:\Users\INDIA\COVID-19 Analysis\COVID data.csv")

In [3]:
df.head()

        Fever  Body Pain  Age  Runny Nose  DiffBreath  infectionProb
0  101.438386          1   67           1           1              1
1   99.985506          0   28           0           0              0
2  100.374523          1   64           1          -1              0
3   98.317882          1   83           0          -1              1
4  100.404386          0   96           0          -1              0

In [4]:
df.tail()

           Fever  Body Pain  Age  Runny Nose  DiffBreath  infectionProb
1229  101.624237          1   27           1           0              1
1230   99.057208          0   10           0           1              0
1231  101.172247          0   23           0          -1              0
1232   98.481040          1   79           1          -1              1
1233  100.861666          1   69           0           1              0

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1234 entries, 0 to 1233
Data columns (total 6 columns):
Fever            1234 non-null float64
Body Pain        1234 non-null int64
Age              1234 non-null int64
Runny Nose       1234 non-null int64
DiffBreath       1234 non-null int64
infectionProb    1234 non-null int64
dtypes: float64(1), int64(5)
memory usage: 58.0 KB

In [6]:
df['DiffBreath'].value_counts()

 1    431
-1    410
 0    393
Name: DiffBreath, dtype: int64

In [7]:
df.describe()

,Fever,Body Pain,Age,Runny Nose,DiffBreath,infectionProb
count,1234.000000,1234.000000,1234.000000,1234.000000,1234.000000,1234.000000
mean,99.969196,0.482172,50.045381,0.491086,0.017018,0.505673
std,1.157797,0.499885,29.464365,0.500123,0.825704,0.500171
min,98.004668,0.000000,1.000000,0.000000,-1.000000,0.000000
25%,98.965871,0.000000,24.000000,0.000000,-1.000000,0.000000
50%,99.962799,0.000000,49.000000,0.000000,0.000000,1.000000
75%,100.921487,1.000000,76.750000,1.000000,1.000000,1.000000
max,101.996112,1.000000,100.000000,1.000000,1.000000,1.000000

### Train Test Split

In [8]:
from sklearn.model_selection import train_test_split

In [9]:
X_train,X_test,y_train,y_test=train_test_split(df[['Fever','Body Pain','Age','Runny Nose','DiffBreath']],df.infectionProb,train_size=0.9)

In [10]:
X_train.head()

          Fever  Body Pain  Age  Runny Nose  DiffBreath
912  100.538251          1   82           1          -1
370  101.223642          0   31           1          -1
186  101.423437          1   75           0          -1
682   99.246030          1   84           0           1
433  101.381734          0  100           1           1

In [11]:
y_train.head()

912    0
370    0
186    0
682    0
433    0
Name: infectionProb, dtype: int64

##import numpy as np

###def split(data,ratio):
    np.random.seed(42)
    shuffled=np.random.permutation(len(data))
    test_set_size=int(len(data)*ratio)
    test_indices=shuffled[:test_set_size]
    train_indices=shuffled[test_set_size:]
    return data.iloc[train_indices],data.iloc[test_indices]

In [12]:
#np.random.permutation(7)

In [13]:
from sklearn.linear_model import LogisticRegression

In [14]:
clf=LogisticRegression()

In [15]:
clf.fit(X_train,y_train)

C:\ProgramData\Anaconda3\lib\site-packages\sklearn\linear_model\logistic.py:432: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
                   intercept_scaling=1, l1_ratio=None, max_iter=100,
                   multi_class='warn', n_jobs=None, penalty='l2',
                   random_state=None, solver='warn', tol=0.0001, verbose=0,
                   warm_start=False)

In [20]:
clf.predict([[104,1,66,1,1]])

array([0], dtype=int64)

In [21]:
Probability=clf.predict_proba([[100,1,22,1,1]])

In [22]:
Probability

array([[0.51001128, 0.48998872]])